table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  text-align: center;
  min-width: 30px;
  min-height: 25px;
}

th {
  padding: 8px;
  background-color: #f2f2f2;
}

td {
  padding: 8px;
  text-wrap: nowrap;
}

button {
  margin: 8px;
}
